@import url('https://fonts.googleapis.com/css2?family=Anton&family=Oswald:wght@200..700&display=swap');

:root {
  --black-color: #000;
  --white-color: #fff;
  --primary-color: #e6e4d5;
  --yellow-color: #faff5a;
}

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 1rem;
  padding-bottom: 0;
}

html {
  font-family: "Oswald", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--black-color);
}

*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

.header {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
  gap: 1rem;
  max-height: 8vh;
}

.header__logo {
  position: relative;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-grow: .5;
  padding: 2.8rem 0;
  padding-left: 2.4rem;
  font-family: "Oswald", serif;
  border-radius: 25px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: var(--primary-color);
  cursor: pointer;
}

.header__logo--heart {
  position: absolute;
  top: 28px;
  font-size: .8rem;
}

.header__logo::before {
  content: '';
  position: absolute;
  top: 14px;
  right: -57px;
  width: 70px;
  height: 70px;
  background-color: var(--primary-color);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  transform: rotate(10deg);
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  height: 60px;
  border-bottom-left-radius: 25px;
}

.nav__content {
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #000;
  gap: 2rem;
  align-items: center;
  border-radius: 20px;
}

.nav__item {
  list-style: none;
  z-index: 2;
}

.nav__link {
  color: var(--white-color);
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 1px;
}

.nav__link:hover {
  border-bottom: 1px solid var(--white-color);
}

.header__button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: .5;
  background-color: var(--primary-color);
  border-radius: 25px;
  padding-top: 2.8rem;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.header__button::before {
  content: '';
  position: absolute;
  top: 14px;
  left: -57px;
  width: 70px;
  height: 70px;
  background-color: var(--primary-color);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
  transform: rotate(260deg);
  z-index: 2;
}

.header__button--content {
  border: 1px solid var(--black-color);
  border-radius: 25px;
  padding: .5rem 2.4rem;
  font-weight: bold;
  font-size: .9rem;
  cursor: pointer;
}

.main {
  height: calc(100vh - 11vh);
  background-color: var(--primary-color);
  padding-left: 2.4rem;
}

.main__title {
  position: relative;
  margin-top: 5rem;
}

.main__title--text {
  font-size: 7.9rem;
  line-height: 115px;
  letter-spacing: -5px;
}

.main__seal {
  position: absolute;
  top: 8rem;
  right: 30rem;
}

#curve {
  fill: transparent;
}

.text {
  font-family: "Oswald";
  font-weight: bold;
}

.main__seal--content {
  position: relative;
}

.main__seal--black {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  top: -180px;
  right: 102px;
  background-color: #000;
  clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}

.main__seal--text {
  position: relative;
  max-width: 50px;
  text-align: center;
  color: var(--yellow-color);
  font-size: .9rem;
}

.main__seal--text::before {
  content: "";
  position: absolute;
  top: -15px;
  left: 20px;
  width: 10px;
  height: 10px;
  background-color: var(--white-color);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.main__seal--text::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 20px;
  width: 10px;
  height: 10px;
  background-color: var(--white-color);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.main__create {
  position: relative;
  margin-top: 2rem;
}

.main__create--icon {
  width: 30px;
}

.main__create--img {
  max-height: 300px;
  border-radius: 20px;
  border: 1px solid var(--black-color);
  clip-path: polygon(0 0, 88% 0, 100% 20%, 100% 100%, 10% 100%, 0 88%);
}

.main__create--random {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 95px;
  border-radius: 25px;
  left: 508px;
  top: 120px;
  font-size: .8rem;
  text-align: center;
  font-weight: bolder;
  background-color: var(--yellow-color);
  border: 1px solid var(--black-color);
  cursor: pointer;
}

.main__profile {
  position: relative;
}

.main__profile--img {
  position: absolute;
  top: 90px;
  right: 100px;
  width: 230px;
  border: 1px solid var(--black-color);
  border-radius: 25px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  clip-path: polygon(0 15%, 20% 0, 100% 0, 100% 100%, 0 100%);
}

.main__profile--banner {
  position: absolute;
  top: 90px;
  right: 65px;
  width: 40px;
  height: 345px;
  background-color: var(--yellow-color);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: 1px solid var(--black-color);
}

.main__profile--arrow {
  position: absolute;
  bottom: 10px;
  left: -1px;
}

.main__profile--banner::before {
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: var(--black-color);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.main__profile--banner::after {
  content: "";
  position: absolute;
  top: 38px;
  right: 10px;
  width: 20px;
  height: 20px;
  background-color: var(--black-color);
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
}

.main__info {
  position: absolute;
  right: 83px;
  bottom: 25px;
  background-color: var(--white-color);
  padding: 1.4rem;
  width: 100%;
  max-width: 700px;
  border-radius: 25px;
  border-top-left-radius: 0;
  z-index: 3;
  border: 1px solid var(--black-color);
}

.main__info::before {
  content: "SMARTPHONE APP MEMES";
  position: absolute;
  top: -30px;
  left: 0;
  padding: 0 1.3rem;
  padding-top: 1rem;
  height: 30px;
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--black-color);
  background-color: var(--white-color);
  border-top-left-radius: 25px;
  border-top-right-radius: 10px;
  border: 1px solid var(--black-color);
  border-bottom: none;
}

.main__info::after {
  content: "";
  position: absolute;
  top: -25px;
  left: 295px;
  width: 25px;
  height: 25px;
  background-color: var(--white-color);
  clip-path: polygon(0 0, 0% 100%, 100% 100%);
}

.main__info--text {
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  
}

.main__info--content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
}

.main__buttons--apps {
  display: flex;
}

.main__buttons--button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: var(--black-color);
  border-radius: 50%;
  border: 1px solid var(--white-color);
  cursor: pointer;
  overflow: hidden;
}

.main__buttons--button:nth-child(2) {
  position: absolute;
  left: 45px;
}

.main__buttons--download {
  display: flex;
  justify-content: end;
  align-items: center;
  padding-left: 1rem;
  font-weight: bold;
  border: 1px solid var(--black-color);
  background-color: var(--white-color);
  border-radius: 25px;
  margin-right: 1rem;
  cursor: pointer;
}

.main__buttons--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: .5rem;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--yellow-color);
  border: 1px solid var(--black-color);
}

.main__buttons--button > img {
  width: 22px;
  height: 22px;
  filter: invert(100);
}

.main__buttons--icon > img {
  width: 25px;
}

.points {
  position: relative;
}
.points::after {
  content: ". . .";
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -193px;
  right: 70px;
  font-size: 2rem;
  background-color: var(--black-color);
  padding: 0 .5rem;
  color: var(--white-color);
  border-radius: 10px;
  transform: rotate(180deg);
  z-index: 1;
  cursor: pointer;
}